<header class="appointment-header">
    <div class="appointment-header-container">
        <div class="appointment-header-logos">
            <img class="header-logo" src="../../assets/img/tcHealth-white.png">
            <img class="header-logo-system" src="../../assets/img/appointmentsystem-white.png">
        </div>
        
        <div class="appointment-header-search">
            <button class="appointment-search-button"><fa-icon [icon] = "faSearch"></fa-icon></button>
            <input class="appointment-search" placeholder="Please enter down the hospital, clinic or family doctor information you are looking for an appointment...">
        </div>

        <div class="appointment-header-buttons">
            <button class="users-icon"><fa-icon [icon] = "faUsers" class="users-icons"></fa-icon></button>
            <button class="settings-icon"><fa-icon [icon] = "faGear" class="settings-icons"></fa-icon></button>
            <div class="user-button-container">
                <button type="button" class="appointment-user-button" >
                    <fa-icon [icon] = "faUser" class="icon"></fa-icon>
                    <span>UMUT TÖLEK</span>
                    <fa-icon [icon] = "faChevronDown"></fa-icon>
                </button>
            </div>
            
        </div>
    </div>
</header>
