<section class="appointment-page">
    <header class="appointment-page-header">
        <app-appointment-page-header></app-appointment-page-header>
    </header>
    <main class="appointment-page-main">
        <div style="padding: 0px;">
            <div class="appointment-page-main-content">
                <app-appointment-page-appointments class="appointments-container"></app-appointment-page-appointments>
                <app-appointment-page-nearest-hospitals class="appointments-hospitals-container"></app-appointment-page-nearest-hospitals>
            </div>
            <div class="appointment-page-footer">
                <app-appointment-page-footer></app-appointment-page-footer>
            </div>
        </div>
    </main>
</section>
