<header class="appointment-header">
    <div class="appointment-header-container">
        <div class="appointment-header-logos">
            <img class="header-logo" src="../../assets/img/tcHealth-white.png">
            <img class="header-logo" src="../../assets/img/appointmentsystem-white.png">
        </div>
        
        <div class="appointment-header-search">
            <input class="appointment-search" placeholder="Please enter down the hospital, clinic or family doctor information you are looking for an appointment...">
        </div>

        <div class="appointment-header-buttons">
            <button class="users-icon"><i class="fa-solid fa-users users-icons"></i></button>
            <i class="fa-solid fa-gear settings-icon"></i>
            <button>Umut Tölek</button>
        </div>
    </div>
    
    
</header>
