* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.appointment-header {
    display: flex;
    justify-content: center;

    background-color: #0a0a0a;
}

.appointment-header-container {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 100%;
    height: 64px;
}

.appointment-header-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex: 4;
}

.appointment-header-logos img {
    display: block;
    margin: auto;
    height: 100%;

}

.header-logo {
    
}

.appointment-header-logos .header-logo-system {
    height: 65%;
}


.appointment-header-search {
    display: flex;
    position: relative;
    height: 50%;
    width: 50%;
    flex: 10;
}

.appointment-search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    color: gray;
}


.appointment-header-search input {
    width: 100%;   
    border-radius: 8px;
    border: 0;
}


.appointment-search {
    width: 100%;
    padding-left: 10px;
}

.appointment-header-buttons {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 50%;
    margin-left: 30px;
    margin-right: 20px;
}

.users-icon {
    background-color: black;
    border: 0;
    flex: 10;
}

.users-icons {
    color: white;
    
}

.settings-icon {
    color: white;
    flex: 10;
}

.appointment-header-buttons .settings-icon {
    background-color: black;
    border: 0px;
}
.user-button-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

.appointment-user-button {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Distributes space around items */
    background-color: #46b0ac;
    border: 0px;
    border-radius: 8px;
    width: 75%;
    color: white;
    padding: 5px 10px; /* Adjust padding to ensure spacing */
}

.appointment-user-button .icon {
    margin-right: 5px; /* Adjust spacing between icon and text */
}