<header class="appointment-header">
    <div class="appointment-header-container">
        <div class="appointment-header-logos">
            <img class="header-logo" src="../../assets/img/tcHealth-white.png">
            <img class="header-logo-system" src="../../assets/img/appointmentsystem-white.png">
        </div>
        
        <div class="appointment-header-search">
            <button class="appointment-search-button"><i class="fas fa-search"></i></button>
            <input class="appointment-search" placeholder="Please enter down the hospital, clinic or family doctor information you are looking for an appointment...">
        </div>

        <div class="appointment-header-buttons">
            <button class="users-icon"><i class="fa-solid fa-users users-icons"></i></button>
            <button class="settings-icon"><i class="fa-solid fa-gear settings-icon"></i></button>
            <div class="user-button-container">
                <button type="button" class="appointment-user-button" >
                    <i class="fa-solid fa-user icon"></i>
                    <span>UMUT TÖLEK</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>
            
        </div>
    </div>
</header>
