$color_1: gray;
$color_2: white;
$background-color_1: #0a0a0a;
$background-color_2: transparent;
$background-color_3: black;
$background-color_4: #46b0ac;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.appointment-header {
	display: flex;
	justify-content: center;
	background-color: $background-color_1;
}
.appointment-header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 64px;
}
.appointment-header-logos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	flex: 4;
	img {
		display: block;
		margin: auto;
		height: 100%;
	}

	.header-logo-system {
		height: 65%;
	}
}
.appointment-header-search {
	display: flex;
	position: relative;
	height: 50%;
	width: 50%;
	flex: 10;
	input {
		width: 100%;
		border-radius: 8px;
		border: 0;
	}
}
.appointment-search-button {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background-color: $background-color_2;
	cursor: pointer;
	border: 0px;
	color: $color_1;
}
.appointment-search {
	width: 100%;
	padding-left: 10px;
}
.appointment-header-buttons {
	flex: 4;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 50%;
	margin-left: 30px;
	margin-right: 20px;
	.settings-icon {
		background-color: inherit;
		border: 0px;
	}
}
.users-icon {
	background-color: inherit;
	border: 0;
	flex: 10;
}
.users-icons {
	color: $color_2;
}
.settings-icon {
	color: $color_2;
	flex: 10;
}
.user-button-container {
	display: flex;
	justify-content: space-around;
	width: 70%;
	height: 100%;
}
.appointment-user-button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: $background-color_4;
	border: 0px;
	border-radius: 8px;
	width: 75%;
	color: $color_2;
	padding: 5px 10px;
	.icon {
		margin-right: 5px;
	}
}

.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.menu-items {
	display: flex;
	flex:1;
}