<div class="login-form">
    <form *ngIf="!isSignUp">
      <div class="input-container">
        <fa-icon [icon]="faUser" class="icon"></fa-icon>
        <input type="text" id="email" name="email" placeholder="Email">
      </div>
      <div class="input-container">
        <fa-icon [icon]="faKey" class="icon"></fa-icon>
        <i class="fa fa-key icon" aria-hidden="true"></i>
        <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" placeholder="Password">
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash" class="toggle-eye" (click)="togglePassword()"></fa-icon>
      </div>
      <div class="forgot-password">
        <p><a href="forgot">Forgot my password</a></p>
      </div>
      <div class="login-buttons">
        <button class="login-button" type="submit" (click)="routeToAppointmentPage();"><span>Login</span></button>
        <button class="login-e-government-button" type="submit"><span>Login with e-Government</span></button>
        <button class="sign-up-button" type="button" (click)="signUpAppear()"><fa-icon [icon]="faUserPlus" class="signup-icon"></fa-icon><span>Sign up</span></button>
      </div>
    </form>
    <form *ngIf="isSignUp">
      <div class="input-container">
        <fa-icon [icon]="faUser" class="icon"></fa-icon>
        <input type="text" id="signup-email" name="signup-email" placeholder="Email">
      </div>
      <div class="input-container">
        <fa-icon [icon]="faUser" class="icon"></fa-icon>
        <input type="text" id="signup-email" name="signup-email" placeholder="Name">
      </div>
      <div class="input-container">
        <fa-icon [icon]="faUser" class="icon"></fa-icon>
        <input type="text" id="signup-email" name="signup-email" placeholder="Surname">
      </div>

      <div class="input-container">
        <fa-icon [icon]="faKey" class="icon"></fa-icon>
        <input type="text" id="signup-password" name="signup-password" placeholder="Password">
        
      </div>
      <div class="input-container">
        <fa-icon [icon]="faKey" class="icon"></fa-icon>
        <input type="text" id="signup-confirm-password" name="signup-confirm-password" placeholder="Confirm Password">
      </div>
      <div class="gender">
        <label for="gender" ></label>
        <select name="genders" id="genders">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
      </div>
      <div class="birthday-div">
        <span>Select your birthday</span>
        <nz-space class="date-select">
          <nz-date-picker *nzSpaceItem [nzMode]="'date'" nzPlaceHolder="Select your birthday"></nz-date-picker>
        </nz-space>  
      </div>
      
      <div class="signup-buttons">
        <button class="signup-button" type="submit"><span>Sign up</span></button>
        <button class="back-to-login-button" type="button" (click)="isSignUp = false"><span>Back to Login</span></button>
      </div>

    </form>
  </div>
  