.appointment-page-hospitals {
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
    padding: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 12px;
}