/* You can add global styles to this file, and also import other style files */
$font-family_1: 'Roboto',sans-serif;
$background-color_1: #46b0ac;

/* You can add global styles to this file, and also import other style files */
html {
	height: 100%;
	margin: 0;
	font-family: $font-family_1;
}
body {
	height: 100%;
	margin: 0;
	font-family: $font-family_1;
}
.umut-app {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: $background-color_1;
	border-radius: 10px;
	&:hover {
		background: #255e5c;
	}
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}
