<div class="login-container">
    <div class="login-header">
        <div class="img-columns">
            <img height="99px" width="100px" src="../../assets/img/tcHealth.png">
        </div>
        <div class="img-columns">
            <img height="70" width="270" src="../../assets/img/appointmentsystem.png">
        </div>
        <div class="language">
            <label for="language"></label>
            <select name="languages" id="languages">
                <option value="english">🇬🇧 English</option>
                <option value="turkish">🇹🇷 Turkish</option>
            </select>
        </div>

    </div>
    
    <app-sign-in-page-login-form class="login-form"></app-sign-in-page-login-form>
    <div class="login-footer">
        <p>For your questions and problems you can contact me by 
            <b>
                <a href="mailto:umuttolekk@gmail.com">
                    <strong>umuttolekk&#64;gmail.com</strong>
                </a> 
            </b>
        </p>
    </div>
    
</div>

