$color_1: gray;
$color_2: #f9f9f9;
$background-color_1: #1ab394;
$background-color_2: #c41212;
$background-color_3: #1890ff;

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.login-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.login-form {
	width: 80%;
}
.language {
	display: flex;
	box-sizing: border-box;
}

.img-columns {
	padding: 25px;
}

.login-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

