
.dashboard-container {
	flex: 1;
	box-sizing: border-box;
	border-radius: 8px;
	margin: 0;
	border-bottom: 1px solid #e8e8e8;
}

.dashboard-container .tab-cards {
	background-color: black !important;
	background: black !important;
	color: white;
}

.dashboard-container ::ng-deep .ant-tabs-tab {
	color: #989898 !important;
	background-color: #272727;
	box-sizing: border-box !important;
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
}

.dashboard-container ::ng-deep {
	.ant-tabs-tab-active {
		background-color: black !important; 
		border-bottom-color: black !important;
		.ant-tabs-tab-btn {
			color: white !important;
		}
	}
}


