<div class="left-section">
    <div class="navbar-login">
        <div class="img-columns">
            <img height="99px" width="100px" src="../../assets/img/tcHealth.png">
        </div>
        <div class="img-columns">
            <img height="70" width="270" src="../../assets/img/appointmentsystem.png">
        </div>
        <div class="language">
            <label for="language"></label>
            <select name="languages" id="languages">
                <option value="english">English</option>
                <option value="turkish">Turkish</option>
            </select>
        </div>
    </div>

    <div>
        <form class="login-form">
            <div class="input-container">
                <i class="fa-solid fa-user icon"></i>
                <input type="text" id="email" name="email" placeholder="Email">
            </div>
            <div class="input-container">
                <i class="fa fa-key icon" aria-hidden="true"></i>
                <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" placeholder="Password">
                <i class="fa toggle-eye" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}" aria-hidden="true" (click)="togglePassword()"></i>
            </div>
            <button class="login-button" type="submit"><span>Login</span></button>
            <button class="login-e-government-button" type="submit"><span>Login with E-goverment</span></button>
            <button class="sign-up-button" type="submit"><span>Sign up</span></button>
        </form>
    </div>
    
</div>

