<div class="appointment-container">
    <div class="appointment-cards">
        <div id="vac-card" class="vaccination-card appointment-card ant-card mr-16 mb-16 vc-card">
            <div class="card-body">
                <div class="card-group-content">
                    <div class="card-icon">
                        <i class="card-icon-logo">
                            <img src="../../assets/icons/asi-icon.png">
                        </i>
                    </div>
            
                    <div class="card-headings">
                        <h3>Make Vaccination Appointment</h3>
                        <h5>You can make a vaccination appointment.</h5>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div id="doc-card" class="family-doctor-appointment appointment-card ant-card mr-16 mb-16">
            <div class="card-body">
                <div class="card-group-content">
                    <div class="card-icon">
                        <i class="card-icon-logo">
                            <img src="../../assets/icons/doktor-icon.png">
                        </i>
                    </div>

                    <div class="card-headings">
                        <h3>Make Family Doctor Appointment</h3>
                        <h5>You can make an appointment with your Family Doctor.</h5>
                    </div>

                </div>
            </div>
        </div>

        <div id="hos-card" class="hospital-appointment appointment-card ant-card mr-16 mb-16">
            <div class="card-body">
                <div class="card-group-content">

                    <div class="card-icon">
                        <i class="card-icon-logo">
                            <img src="../../assets/icons/hospital-icon.png">
                        </i>
                    </div>

                    <div class="card-headings hospital-heading">
                        <h3 class="hospital-h3">Make Hospital Appointment</h3>
                        <h5>You can make an appointment from the clinics in the hospital.</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="appointments-side">
        <app-appointments-list></app-appointments-list>
        <button nz-button nzType="default" nzBlock disabled class="show-all-button">Show All</button>
    </div>
</div>