.appointment-container {
    display: flex;
    flex-direction: row;
    background-color: #0a0a0a;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px;
    padding-bottom: 0;
    margin-bottom: 16px;
}